body {
	margin: 20px auto;
	padding: 0;
	width: 700px;
	font: 70%/140% Arial, Helvetica, sans-serif;
	background: url(/images/cork-bg.png);
}
h1 {
	font: bold 480%/100% "Courier New", Courier, monospace;
	letter-spacing: -3px;
	margin: 0;
	padding: 0 0 4px 15px;
	background: #d4e093;
	border-bottom: solid 1px #a36e36;
	color: #543a1b;
	width: 83%;
}
.credits {
	margin: -5px 0 3.5em;
	padding-left: 15px;
	font: 130%/110% "Courier New", Courier, monospace;
}
.credits span {
	color: #000;
	background: #c3e4e2;
	border-bottom: solid 1px #a36e36;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 .5em;
	font-size: 110%;
}
.credits em {
	color: #fff;
	background: #000;
	border-bottom: solid 1px #a36e36;
	padding: 0 .3em;
}
.credits  a{
	color: #fff;
	background: #ff9999;
	border-bottom: solid 1px #a36e36;
	margin: 0px 0px 0px 180px;
	padding: .3em .6em;
	font-style:italic;	
}
img {
	border: none;
}

/* ---------- gallery styles start here ----------------------- */
.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}
.gallery li {
	margin: 20px 10px 5px;
	padding: 8px;
	background: url(/images/polaroid.png) no-repeat;
	float: left;
	position: relative;
	width: 186px;
}
.gallery span {
	background: url(/images/tape.png) no-repeat;
	width: 77px;
	height: 27px;
	display: block;
	position: absolute;
	left: 54px;
	top: -12px;
}