h1 {
  border-bottom: 1px solid black;
  font-size: 1.15rem;
  line-height: 1.725em;
  margin: 0;
  text-align: center;
}

a {
  color: #d02d33;
}
a:hover {
  color: #a62b24;
}

h1 a:hover {
  text-decoration: none;
}
h1 img {
  display: none;
}
@media (min-width: 350px) {
  h1 {
    line-height: 3.75rem;
  }
  h1 img {
    display: inline;
    vertical-align: middle;
  }
}
@media (min-width: 414px) {
  h1 {
    font-size: 1.40rem;
  }
}

header nav {
  border-bottom: 1px solid black;
  margin: 0 0 .5rem;
  text-align: center;
}

header .nav {
  padding: 0;
}

header .nav .nav-item {
  width: 25%;
}

header .nav .nav-item.active .nav-link {
  background: black;
  color: white;
}

header .nav .nav-item .nav-link {
  color: inherit;
  padding-left: 0;
  padding-right: 0;
}

header .nav .nav-item .nav-link:hover {
  background: #d02d33;
  color: white;
}

main .nav-pills {
  margin: 1rem 0;
}

main .nav-pills .nav-link.active {
  background: #d02d33;
}

#announcement {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  text-align: center;
}
#announcement a {
  line-height: 2.5rem;
}

@media (max-width: 375px) {
  .home h2 {
    font-size: 1.65rem;
  }
  .home h3 {
    font-size: 1.50rem;
  }
  .home h4 {
    font-size: 1.35rem;
  }
}

footer {
  border-top: 1px solid black;
}
footer p {
  margin: 1rem 0;
}

/* Workaround for https://github.com/twbs/bootstrap/issues/21577 */
@media (min-width: 1024px) {
  .table-responsive {
    display: table;
  }
}
