h1 {
  border-bottom: 1px solid black;
  font-size: 1.15rem;
  line-height: 3.75rem;
  margin: 0;
  text-align: center;
}

a {
  color: #d02d33;
}
a:hover {
  color: #a62b24;
}

h1 a:hover {
  text-decoration: none;
}
h1 img {
  display: none;
}
@media (min-width: 321px) {
  h1 img {
    display: inline;
    vertical-align: middle;
  }
}

nav {
  border-bottom: 1px solid black;
  margin: 0 0 .5rem;
  text-align: center;
}

.nav {
  padding: 0;
}

.nav .nav-item {
  width: 25%;
}

.nav .nav-item.active .nav-link {
  background: black;
  color: white;
}

.nav .nav-item .nav-link {
  color: inherit;
  padding-left: 0;
  padding-right: 0;
}

.nav .nav-item .nav-link:hover {
  background: #d02d33;
  color: white;
}

#announcement {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  text-align: center;
}
#announcement a {
  line-height: 2.5rem;
}

h2 {
  font-size: 1.25rem;
}

footer {
  border-top: 1px solid black;
}
footer p {
  margin: 1rem 0;
}
