<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

<script type="text/stache" can-autorender>
  <can-import from="~/styles.less" />
  <can-import from="~/components/erection/erection" />
  <can-import from="~/models/fixtures/ballots" />
  <can-import from="~/models/fixtures/elections" />
  <main class="container-fluid">
    <lbh3-erection urlId:from="'2017'" />
  </main>
</script>
<script src="../../../node_modules/steal/steal.js"
        main="can-view-autorender"></script>
