lbh3-footer {
  border-top: 1px solid var(--nav-link-active-background-color);
  display: block;

  footer {
    @supports(padding: max(0px)) {
      padding-left: ~"max(15px, env(safe-area-inset-left))";
      padding-right: ~"max(15px, env(safe-area-inset-right))";
    }
  }
}
