lbh3-past-runs {

  .alert.profile {
    margin: 1rem auto;
    max-width: 27rem;
  }

  @media (max-width: 575px) {
    .nav-pills {
      max-height: 5rem;
      overflow-y: scroll;
    }
  }

  @media print {
		a:not(.btn) {
			text-decoration: none;
		}
  }
}
