lbh3-run-list {
	display: block;

	.date-column {
		width: 3rem;
	}

	.single-icon-column {
		text-align: center;
		width: 2rem;
	}

	.trail-number-column {
		text-align: center;
		width: 3rem;
	}

	.xs-layout {
		lbh3-snooze-button {
			button.btn-link {
				margin-left: .25rem;
			}
		}
		p {
			margin: 0;
		}
		.truncate-text > * {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.hares {
			line-height: 1rem;
		}
	}
}
