body {
  padding-bottom: env(safe-area-inset-bottom);
}

h2 {
  text-align: center;
}

a, .btn-link {
  color: #d02d33;
}
a:hover, .btn-link:hover {
  color: #a62b24;
}

main .nav-pills {
  margin: 1rem 0;
}

main .nav-pills .nav-link.active {
  background: #d02d33;
}

.alert ul {
  margin-bottom: 0;
  margin-top: .5rem;
}

/* Workaround for https://github.com/twbs/bootstrap/issues/21577 */
@media (min-width: 1024px) {
  .table-responsive {
    display: table;
  }
}

@media print {
  main.container {
    max-width: 100%;
  }
}
