lbh3-hasher-edit-form {
	display: block;
	margin: 1em auto;
	max-width: 720px;

	.birthday.input-group input {
		text-align: right;

		&:last-of-type {
			flex-grow: 2;
		}
	}

	.headshot {
		height: 16vh;
		min-height: 8rem;
	}

	textarea {
		height: 6.5rem;
	}
}
