lbh3-hareline-guidelines {
	display: block;

	#boxMap {
		display: block;
		height: 90vw;
		margin: 0 auto;
		max-height: 84vh;
		width: 100%;

		.gm-style-iw.gm-style-iw-c {
			color: #212529;
		}
	}

	.figure {
		display: table;
		left: 50%;
		position: relative;
		transform: translate(-50%);
		width: 90vw;
	}
}
