lbh3-header {
  display: block;

  a,
  .btn-link,
  .nav-item {
    line-height: 3rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  h1 a {
    color: var(--lbh3-red);
    &:hover {
      color: var(--lbh3-red-hover);
      text-decoration: none;
      svg {
        fill: var(--lbh3-red-hover);
      }
    }

    svg {
      bottom: 4px;
      fill: var(--lbh3-red);
      position: relative;
    }
  }

  .d-flex.justify-content-between {
    padding-left: .5rem;
    padding-right: .5rem;

    @supports (padding: max(0px)) {
      padding-left: ~"max(.5rem, env(safe-area-inset-left))";
      padding-right: ~"max(.5rem, env(safe-area-inset-right))";
    }
  }

  .facebook {
    color: var(--facebook-blue);
    &:hover {
      color: var(--facebook-blue-hover);
    }
  }

  .google {
    color: var(--lbh3-red);
    &:hover {
      color: var(--lbh3-red-hover);
    }
  }

  .nav {
    img {
      height: 2.5rem;
    }
  }

  @media print {
    a:not(.btn) {
      text-decoration: none;
    }
  }
}
