lbh3-header {
	display: block;

  h1 {
    margin: 0;
    text-align: center;
    @supports (padding: max(0px)) {
      padding-left: ~"max(0px, env(safe-area-inset-left))";
      padding-right: ~"max(0px, env(safe-area-inset-right))";
    }
  }
  h1 a {
    line-height: 60px;
    svg {
      bottom: 3px;
      fill: var(--link-color);
      position: relative;
    }
  }
  h1 a:hover {
    text-decoration: none;
    svg {
      fill: var(--link-color-hover);
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 1.40rem;
    }
  }
  @media (max-width: 414px) {
    h1 {
      font-size: 1.15rem;
    }
  }
  @media (max-width: 368px) {
    h1 a {
      line-height: 3rem;
    }
    h1 svg {
      display: none;
    }
  }

  @media print {
    a:not(.btn) {
      text-decoration: none;
    }
  }
}
